img {
    max-width: 250px;
    max-height: 250px;
    margin-bottom: 10px;
}

.count {
    font-weight: bold;
}


.col-md-4 {
    text-align: center;
}

footer {
    text-align: center;
    border-top: 1px solid;
    padding-top: 5px;
    margin-top: 40px;
}
