{% load static %}{% load compress %}{% spaceless %}
<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %} :: BeanCounter</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% compress css %}
    <link rel="stylesheet" href="{% static 'libs/bootstrap-3.3.5/css/bootstrap.min.css' %}">
    <style>
      body {
      padding-top: 50px;
      padding-bottom: 20px;
      }
    </style>
    <link rel="stylesheet" href="{% static 'libs/bootstrap-3.3.5/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'libs/font-awesome-4.3.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% endcompress %}

    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script>window.html5 || document.write('<script src="{{ STATIC_URL }}libs/html5shiv.js"><\/script>')</script>
          <![endif]-->
  </head>
  <body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Bean Counter</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          {% if not user.is_authenticated %}
          <form class="navbar-form navbar-right" role="form" method="POST" action="/login/">
            {% csrf_token %}
            <div class="form-group">
              <input type="text" placeholder="Username" class="form-control" name="username">
              <span>&nbsp;</span>
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control" name="password">
              <span>&nbsp;</span>
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
          {% endif %}
        </div>
        <!--/.navbar-collapse -->
      </div>
    </nav>
    {% block content %}{% endblock %}
    <footer>
      <p>&copy; Beans, Inc. 2015</p>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}libs/jquery/2.1.0/jquery-2.1.0.min.js"><\/script>')</script>

      {% compress js %}
      <script src="{% static 'libs/bootstrap-3.3.5/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/main.js' %}"></script>
      {% endcompress %}
  </body>
</html>
{% endspaceless %}
