{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Home Page{% endblock %}

{% block description %}This page is an awesome home page.{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="jumbotron text-center">
  <div class="container">
    <h1>Count a bean!</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Black</h2>
      <img src="{% static 'images/black-beans.jpg' %}">
      <form method="POST" action="/count/">
        {% csrf_token %}
        <input type="hidden" name="bean" value="black"/>
        <input type="number" name="count" value="1"/>
        <input type="submit" value="Count!">
      </form>
      <h2 class="count">{{ count.black|default:0 }}</h2>
    </div>
    <div class="col-md-4">
      <h2>Pinto</h2>
      <img src="{% static 'images/pinto-beans.jpg' %}">
      <form method="POST" action="/count/">
        {% csrf_token %}

        <input type="hidden" name="bean" value="pinto"/>
        <input type="number" name="count" value="1"/>
        <input type="submit" value="Count!">
      </form>
      <h2 class="count">{{ count.pinto|default:0 }}</h2>
    </div>
    <div class="col-md-4">
      <h2>Jelly</h2>
      <img src="{% static 'images/jelly-beans.jpg' %}">
      <form method="POST" action="/count/">
        {% csrf_token %}

        <input type="hidden" name="bean" value="jelly"/>
        <input type="number" name="count" value="1"/>
        <input type="submit" value="Count!">
      </form>
      <h2 class="count">{{ count.jelly|default:0 }}</h2>
    </div>
  </div>
</div>
{% else %}
<div class="jumbotron text-center">
  <div class="container">
    <h1>^ Sign in to count beans! ^</h1>
  </div>
</div>
{% endif %}
{% endblock %}
